body{
  background: url(https://images.contentstack.io/v3/assets/bltcedd8dbd5891265b/blt4a4af7e6facea579/6668df6ceca9a600983250ac/beautiful-flowers-hero.jpg?q=70&width=828&auto=webp);
  background-repeat: no-repeat;
}


div{
  background-color: blue;
  border-color: red;
  border-width: thick;
  border-style:dotted;
}

p{
  color: yellow;
}

span{
  background: red;
  color: black;
}
